@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
  }

  h1 {
    margin: 30px 0;
    text-shadow: 3px 0 #232931;
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }

  img {
    width: 60%;
  }

  footer {
    margin-top: 15%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  }

  .resultingHeadingIcon {
    width: 100px;
    display: block;
    margin: auto;
  }

  .heading {
    margin-bottom: 15%;
  }

.rollButton{
  position: fixed;
  right: 35px;
  bottom: 60px;
  border-radius: 100%;
  padding: 2%;
}

}
